<nav class=" bg-dark">
    <div class="container-fluid">
        <div class="shifting">
        <h2 style="color:coral ;">Result Management Application</h2>
    </div>
        <div class="d-flex">
          
        </div>
    </div>
</nav>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <button (click)="Home()" style="margin-left: 4.4in; ;" class="btn btn-warning"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                      </svg></button>
                    <h1 >Teacher Login</h1>
                    <h3>  Feel free To Login </h3>
                    <p style="color:red; font-family:cursive; padding-right:2.98in;">* fields are mandatory</p>
                    <hr />
                </div>

                

                    <form [formGroup]="loginForm" (ngSubmit)="logIn()">


                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address <span class="star"> * </span> </label>
                          <input formControlName="Email" placeholder="Enter Email" type="email" class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp">
                          <small *ngIf="loginForm.get('Email')?.invalid && loginForm.get('Email')?.touched" class="text-danger">Email is required</small>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password <span class="star"> * </span> </label>
                          <input formControlName="Password" placeholder="Enter Password " type="password" class="form-control" id="exampleInputPassword1">
                          <small *ngIf="loginForm.get('Password')?.invalid && loginForm.get('Password')?.touched" class="text-danger">Password is required</small>
                        </div>
                       
                        <button type="submit" [disabled]="!loginForm.valid" class=" btn btn-primary">Login</button>
                    </form>

                   

            </div>
        </div>
    </div>
</div>