<nav class="dark bg-dark">
    <div class="container-fluid">
        <div class="shifting">
        <h2 style="color:coral ;">Result Management Application</h2>
    </div>
        <div class="d-flex">
          
        </div>
    </div>
</nav>






<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login As</h1><hr/>
                    
                </div>
                
                <a routerLink="/login" class="btn btn-info">Teacher</a><br>
                <a routerLink="/studentresult" class="btn btn-info">Student</a>
                
                
                

                   
            </div>
        </div>
    </div>
</div>