<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <h2> Result Management Application </h2>
        <div class="d-flex">
            <button (click)="ClickAddStudent()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-users" aria-hidden="true"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg> Add Student</button>
            
            <button (click)="logout()" class="btn btn-danger mx-3" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg> Logout</button>
            <button routerLink="/signup" class="btn btn-warning"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>SignUp</button>
        </div>
    </div>
</nav>

<table class="table table-bordered justify-content-center">
    <thead>
        <tr>
            <th class="text-center">Roll Number</th>
            <th class="text-center">Name</th>           
            <th class="text-center">Date of Birth</th>
            <th class="text-center">Marks(500)</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allStudentData">
            
          <td class="text-center">{{data.Rollno}}</td>
            <td class="text-center">{{data.Name}}</td>            
            <td class="text-center">{{data.DOB}}</td>
            <td class="text-center">{{data.Score}}</td>
           
            <td class="text-center">
                <button  (click)="onEditStudent(data)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg> </button>&nbsp;
                <button (click)="deleteStud(data)" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg> </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 *ngIf="showAdd"  class="modal-title fs-5" id="exampleModalLabel">Add Student Record</h1>
          <h1 *ngIf="showbtn" class="modal-title fs-5" id="exampleModalLabel">Edit Student Record</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          


            <form [formGroup] = "formValue" >

             
              <p style="color:red; font-family:cursive; padding-right:2.98in;">* fields are mandatory</p>

              <div class="mb-3">
                <label class="form-label"> Roll Number <span class="star"> * </span> </label>
                <input type="number" formControlName="Rollno" class="form-control" id="exampleRollno" required aria-describedby="emailHelp">
                <small *ngIf="formValue.get('Rollno')?.invalid && formValue.get('Rollno')?.touched" class="text-danger">Roll Number is required</small>
                <div id="emailHelp" class="form-text"></div>
              </div>


                <div class="mb-3">
                  <label class="form-label"> Name <span class="star"> * </span></label>
                  <input type="text" formControlName="Name" class="form-control" id="exampleName" required aria-describedby="emailHelp">
                  <small *ngIf="formValue.get('Name')?.hasError('required') &&formValue.get('Name')?.invalid && formValue.get('Name')?.touched" class="text-danger">Name is required</small>
                  <small *ngIf="formValue.get('Name')?.hasError('minlength') &&formValue.get('Name')?.invalid && formValue.get('Name')?.touched" class="text-danger">Name should be greater then 5 characters</small>
                  <div id="emailHelp" class="form-text"></div>
                </div>
                


                  <div class="mb-3">
                    <label class="form-label"> Date of Birth <span class="star"> * </span> </label>
                    <input type="date" formControlName="DOB" class="form-control" id="exampleDOB" required aria-describedby="emailHelp">
                    <small *ngIf="formValue.get('DOB')?.invalid && formValue.get('DOB')?.touched" class="text-danger">DOB is required</small>
                    <div id="emailHelp" class="form-text"></div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label"> Marks(500) <span class="star"> * </span> </label>
                    <input type="number" formControlName="Score" class="form-control" id="exampleScore" required  aria-describedby="emailHelp">
                    <small *ngIf="formValue.get('Score')?.hasError('required') && formValue.get('Score')?.invalid && formValue.get('Score')?.touched" class="text-danger">Score is required</small>
                    <small *ngIf="formValue.get('Score')?.hasError('max') && formValue.get('Score')?.invalid && formValue.get('Score')?.touched" class="text-danger">Marks Should be less then 500</small>
                    <div id="emailHelp" class="form-text"></div>
                  


                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                      <button *ngIf="showAdd , showME" [disabled]="!formValue.valid" type="button" class="btn btn-primary" (click)="addStudent()">Add Details</button>
                      <button *ngIf="showbtn" [disabled]="!formValue.valid" type="button" class="btn btn-primary" (click)="updateStudent()">Update Details</button>
                    </div>
                            
                              
                    </form>

                      </div>
                      
                    </div>
                  </div>
                </div>
